<div ng-controller="settingCtrl" class="container">
	<p style="height: 50%">
	<h4>Settings</h4>
	</p>
	<hr />


	<h3>Please Reset For Each And Every Month!</h3>

	<div style="width: 30%" class="alert alert-success fade in"
		ng-if="msg == 'SUCCESSFULLY_RESETTED' ">
		<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>{{msg}}</strong>
	</div>

	<div style="width: 30%" class="alert alert-danger fade in"
		ng-if=" msg == 'ERROR_WHILE_RESETTING' ">
		<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>{{msg}}</strong>
	</div>




	<BR /> <BR />


	<button type="button" class="btn btn-danger" ng-click="showAlert();">Reset
		The Monthly Expenses</button>

</div>